{% extends 'layouts/base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4 text-center">Информация о стоимости участия</h1>
    <div class="row justify-content-center">
        {% for event in upcoming_events %}
            <div class="col-md-6"> <!-- Здесь изменен класс -->
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <h2>{{ event.title }} - {{ event.start_datetime }}</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ event.description }}</p>
                        <h5 class="text-center">Типы забегов:</h5>
                        <ul class="list-group list-group-flush">
                            {% for race_type in event.race_types.all %}
                                <li class="list-group-item">
                                    {{ race_type.distance }} км {{ race_type.get_gender_display }} -
                                    {{ race_type.min_age }} лет и старше
                                    (взнос {{ race_type.registration_fee }} руб.)
                                </li>
                            {% empty %}
                                <li class="list-group-item">Информация о типах забегов для этого мероприятия отсутствует.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <h5 class="text-center">Организаторы:</h5>
                        <ul>
                            {% for organizer in event.organizers.all %}
                                <li>
                                    {{ organizer.user.get_full_name }} - {{ organizer.contact }}
                                    <br>Реквизиты для оплаты: {{ organizer.payment_details }}
                                </li>
                            {% empty %}
                                <li>Организаторы для этого мероприятия отсутствуют.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">Предстоящие мероприятия отсутствуют.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
