{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Детали мероприятия | Организация Спортивных Мероприятий{% endblock %}

{% block content %}
    <style>
    .event-details .event-image {
    max-height: 400px; /* Максимальная высота */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    display: block; /* Устраняет проблемы с выравниванием и пространством вокруг изображения */
    margin: 0 auto; /* Центрирует изображение в контейнере */
    }
    </style>

    <!-- Заголовок мероприятия -->
    <section class="event-header py-5">
        <div class="container">
            <h1 class="display-4">{{ event.title }}</h1>
            <p class="lead">{{ event.description }}</p>
        </div>
    </section>

    <!-- Детали мероприятия -->
    <section class="event-details bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="img-fluid event-image">
                </div>
                <div class="col-md-6">
                    <h3>Детали</h3>
                    <p><strong>Дата:</strong> {{ event.start_datetime|date:"d F Y г. (D)" }}</p>
                    <p><strong>Время:</strong> {{ event.start_datetime|time }} </p>
                    {% if event.days_left > 0 %}
                        <p class="days-left"><strong>Дней до мероприятия:</strong> {{ event.days_left }}</p>
                    {% endif %}
                    <p><strong>Свободных мест:</strong> {{ event.get_free_slots }} из {{ event.total_slots }}</p>
                    <p><strong>Местоположение:</strong> {{ event.location }}</p>
                    <p><strong>Тип мероприятия:</strong> {{ event.get_event_type_display }}</p>
                    <p><strong>Условия участия:</strong> {{ event.event_rules }}</p>
                    <!-- Кнопки -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'register_for_event' %}?event_id={{ event.id }}" class="btn btn-primary">Регистрация на мероприятие</a>
                    {% else %}
                        <a href="{% url 'users:login' %}?next=/race-registration/?event_id={{ event.id }}" class="btn btn-secondary">Войти для регистрации</a>
                    {% endif %}
                    <a href="{{ event.get_registrations_url }}" class="btn btn-info">Список участников</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Интерактивная карта -->
    <section class="event-map py-5">
        <div class="container">
            <h3>Местоположение мероприятия</h3>
            <div id="map" style="height: 400px;" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}"></div>
        </div>
    </section>

    <!-- Программа мероприятия -->
    <section class="event-schedule bg-light py-5">
        <div class="container">
            <h3>Программа мероприятия</h3>
            <ul>
                {% for schedule in event.schedules.all %}
                    <li>{{ schedule }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- Участвующие группы -->
    <section class="participating-groups py-5">
        <div class="container">
            <h3>Участвующие группы</h3>
            <ul>
                {% for race_type in event.race_types.all %}
                    <li>{{ race_type }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- ... Дальнейший контент ... -->
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'race/js/event_map.js' %}"></script>
{% endblock extra_js %}