{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Главная | Организация Спортивных Мероприятий{% endblock %}

{% block content %}
    <style>

.card-img-top {
    width: 100%; /* Ширина соответствует контейнеру */
    height: 400px; /* Фиксированная высота */
    object-fit: cover; /* Обрезка изображения для заполнения контейнера */

}
.carousel-item img {
    width: 100%;  /* или фиксированное значение в пикселях */
    height: 400px; /* фиксированная высота */
    object-fit: cover;
}

.card {
    height: 100%; /* Выравнивание по высоте */
}

/* Центрирование карточек в строке */
.row {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Для выравнивания карточек по высоте */
}

.testimonial-text {
    text-align: center; /* Центрирование текста */
    margin: 0 auto; /* Авто-отступы для горизонтального центрирования */
    max-width: 80%; /* Опционально, ограничивает ширину текста */
    justify-content: center; /* Вертикальное центрирование */
}

.testimonial-carousel-item {
    min-height: 200px; /* Установка минимальной высоты для элемента карусели */
}

    </style>


    <!-- Главный баннер -->
    <header class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
            <p class="lead">Участвуйте в захватывающих спортивных мероприятиях.</p>
            <a href="{% url 'register_for_event' %}" class="btn btn-lg btn-secondary">Регистрация на предстоящее мероприятие</a>
        </div>
    </header>

    <!-- О нас -->
    <section class="about py-5">
        <div class="container">
            <h2 class="text-center mb-4">О нашей организации</h2>
            <p class="text-center">Мы организуем спортивные мероприятия, такие как любительские забеги и марафоны, для всех желающих.</p>
        </div>
    </section>

    <!-- Предстоящие мероприятия -->
    <section class="events py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">Предстоящие мероприятия</h2>
            <div class="row justify-content-center d-flex">
                {% for event in upcoming_events %}
                    <div class="col-md-4 mb-3">
                        <div class="card h-100"> <!-- Добавьте класс h-100 для выравнивания карточек по высоте -->
                            {% if event.image %}
                                <img src="{{ event.image.url }}" alt="{{ event.title }}" class="card-img-top">
                            {% endif %}
                            <div class="card-body d-flex flex-column"> <!-- Flexbox для управления позиционированием внутри карточки -->
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.start_datetime|date:"d F Y г. (D)" }} {{ event.start_datetime|time }} - {{ event.location }} </p>
                                <p class="card-text">Свободных мест: {{ event.get_free_slots }} из {{ event.total_slots }} </p>
                                <p class="card-text">{{ event.description|truncatewords:20 }} </p>
                                <a href="{{ event.get_absolute_url }}" class="btn btn-primary mt-auto align-self-end">Подробнее</a> <!-- Измененные классы для кнопки -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


 <!-- Отзывы участников -->
    <section class="testimonials py-5">
        <div class="container">
            <h2 class="text-center mb-4">Отзывы участников</h2>

            <div id="testimonialCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for review in latest_reviews %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %} testimonial-carousel-item">
                            <!-- Заголовок отзыва -->
                            <h5 class="testimonial-title text-center">{{ review.event }}</h5>
                            <!-- Текст отзыва -->
                            <p class="testimonial-text">"{{ review.text }}"</p>
                            <!-- Автор и дата отзыва -->
                            <p class="testimonial-author text-center">
                                <strong>{{ review.author.first_name }} {{ review.author.last_name }}</strong>, участник мероприятия
                                <br>
                                <small class="text-muted">{{ review.created_at|date:"d F Y г." }}</small>
                            </p>
                        </div>
                    {% endfor %}
                </div>

                <!-- Кнопки управления каруселью -->
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </section>


    <!-- Галерея прошедших мероприятий -->
    <section class="past-events py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">Галерея прошедших мероприятий</h2>
            <div class="row">
                {% for event in past_events|slice:":3" %}
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            {% if event.photos.exists %}
                                <!-- Карусель фотографий -->
                                <div id="carousel{{ event.id }}" class="carousel slide" data-bs-ride="carousel">
                                    <!-- Определение индикаторов -->
                                    <div class="carousel-indicators">
                                        {% for image in event.photos.all %}
                                        <button type="button" data-bs-target="#carousel{{ event.id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                                        {% endfor %}
                                    </div>
                                    <!-- Содержимое карусели -->
                                    <div class="carousel-inner">
                                        {% for image in event.photos.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ image.photo.url }}" class="d-block w-100 card-img-top" alt="{{ image.title }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Контролы карусели -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ event.id }}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ event.id }}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    </button>
                                </div>
                            {% elif event.image %}
                                <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                            {% endif %}

                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ event.title }}</h5>
                                     <!-- Отображение резюме или описания -->
                                <p class="card-text">
                                    {% if event.summary %}
                                        {{ event.summary.text|truncatewords:20 }}
                                    {% else %}
                                        {{ event.description|truncatewords:20 }}
                                    {% endif %}
                                </p>
                                <!-- Кнопки действий -->
                                <div class="mt-auto align-self-end">
                                    <div class="btn-group dropup">
                                        <a href="{{ event.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Переключатель выпадающего списка</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'add_review' event.id %}">Оставить отзыв</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Скачать протокол</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
