{% extends 'layouts/base.html' %}

{% block content %}
<br>
<div class="container bg-white shadow-md p-3">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading display-4">Успешная регистрация!</h4>
        <p>
            Мы получили вашу заявку и документ об оплате. Пожалуйста, ожидайте подтверждения.<br>
            Проверить статус оплаты или отменить регистрацию на забег можно в разделе <a href="{% url 'users:registrations_list' %}">Личные регистрации</a>.<br>
            Если у вас есть какие-либо вопросы, пожалуйста, <a href="{% url 'contact' %}">Свяжитесь с нами</a>.
        </p>
    </div>
</div>
{% endblock %}
