{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="text-center">Регистрация на мероприятие</h2>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}

                    <!-- Отображение ошибок на уровне всей формы -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="form-group mb-3 {% if field.errors %} has-error {% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.name == 'phone_number' %}
                            <div id="phone_number_container">
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                    <!-- Дополнительный чекбокс (если требуется) -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck1">
                    <label class="form-check-label" for="customCheck1">Согласие на обработку персональных данных</label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'race/js/event_register.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.querySelector('#id_phone_number');
        intlTelInput(input, {
            initialCountry: "ru",
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });
    });
</script>
{% endblock extra_js %}
